torch==2.5.1
transformers==4.45.2
networkx==3.4.2
numpy<2.0.0
scipy
tqdm
pandas
pyarrow
pydantic==2.10.4
tenacity==8.5.0
scikit-learn
sentence-transformers
datasets
pyyaml
huggingface_hub
openai==1.91.0
tiktoken==0.7.0
accelerate
vllm==0.6.6.post1
igraph==0.11.8